@import "../../styles/variables.scss";

.testing-module-wrapper {

  .nav-bar {
    background-color: #191919de;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
     padding: 7px 15px;
    }

    & > a {
      align-self: flex-end;
    }
  }
}
