<nav class="nav-bar">

  <a class="back-btn" (click)="goBack()">
    Go Back
  </a>

</nav>

<div class="quiz-wrapper">
  <table class="quiz-table">
    <tr class="quiz-row quiz-header">
      <th>Name</th>
      <th>Time limit</th>
      <th>Max attempts</th>
      <th>Task url</th>
    </tr>
    <tr class="quiz-row">
      <td><input [(ngModel)]="quiz && quiz.name" /></td>
      <td>
        <div class="time-limit-wrapper">
          <input
            type="number"
            [value]="quiz && quizTime.minutes"
            (change)="onTimeLimitChange($event, 'minute')"
            min="0"
          />
          <p>:</p>
          <input
            type="number"
            [value]="quiz && quizTime.seconds"
            (change)="onTimeLimitChange($event, 'second')"
            min="0"
          />
        </div>
      </td>
      <td><input type="number" [(ngModel)]="quiz && quiz.maxAttempts" /></td>

      <td>
        <p>{{ quiz && quiz.quizUrl }}</p>
      </td>
    </tr>
  </table>

  <div class="question-wrapper">
    <div class="task-code-block" style="margin-right: 10px;">
      <h4>Code for testing</h4>
      <textarea [(ngModel)]="quiz.code"></textarea>
    </div>

    <div class="correct-answer-block">
        <h4>Correct test code</h4>
        <textarea [(ngModel)]="quiz.correctTest"></textarea>
    </div>
  </div>
  <div class="btn-wrapper">
    <button class="btn-create" (click)="confirm()">
      Confirm
    </button>
  </div>
</div>
