@import "src/styles/variables.scss";


.nav-bar {
  background-color: #191919de;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 30px;

  a {
   padding: 7px 15px;
  }

  .back-btn {
    display: flex;
    right: 0px;
    position: absolute;

  }

  .nav-items {
    a {
      &.active, &:hover {
        background-color: rgba($apple, .3);
      }

    }
  }
}

::-webkit-input-placeholder {
  /* Edge */
  color: rgb(255, 255, 255);
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: rgb(255, 255, 255);
}

::placeholder {
  color: rgb(255, 255, 255);
}

.quiz-wrapper {
  margin-top: 70px;
  padding: 30px;
  font-size: 16px;

  .btn-create {
    border: none;
    margin-top: 15px;
    width: 120px;
    height: 42px;
    border-radius: 5px;
  }

  p {
    margin: 0;
  }
  .user-info-wrapper,
  .quiz-header {
    background: $bayLeaf;
    padding: 0 20px;
    border-radius: 3px;
    height: 30px;
  }

  .quiz-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .timer {
      margin-left: auto;
      margin-right: 15px;
      font-weight: bold;
      color: $prairieSand;
    }

    .quiz-name {
      font-size: 18px;
      font-weight: 700;
    }

    .max-attempts {
      margin: 0 15px;
    }
  }

  .user-info-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info-input {
      background: none;
      border: none;
      border-bottom: 1px solid black;
    }
  }

  .questions-wrapper {
    background: $alto;
    padding: 20px;
    border-radius: 3px;
    margin-top: 20px;

    .question-item-wrapper {
      margin-top: 15px;

      &:first-of-type {
        margin: 0;
      }

      .question-label {
        font-weight: 700;
      }

      .answer-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 5px;

        .answer-input {
          margin-right: 10px;
        }
      }
    }
  }
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .btn-create {
    margin-right: 100px;
    border: 0.5px solid black;
  }
}

.question-wrapper {
  display: flex;
  width: 100%;
  .task-code-block, .correct-answer-block {
    width: 50%;
  }

  .correct-answer-block {
    textarea:disabled {
      background-color: rgba($apple, .3);
    }

    textarea.failed {
      background-color: rgba($red, .3);
    }
  }

  textarea {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    height: 200px;
    max-height: 200px;
    overflow: auto;
    padding: 5px;
    border-radius: 4px;
    resize: none;
  }

}
