<nav class="nav-bar">

  <a class="back-btn" (click)="goBack()">
    Go Back
  </a>

</nav>

<div class="quiz-wrapper">
  <div class="quiz-header">
    <p class="quiz-name">{{ quiz && quiz.name }}</p>
    <p class="timer">Time left: {{ getTimeLimit(timeLimit) }}</p>
    <p class="max-attempts">|</p>
    <p class="max-attempts">Num. of attempts: {{ (passedQuiz && passedQuiz.attempt) }}/{{ (quiz && quiz.maxAttempts) }}</p>
  </div>

  <div class="question-wrapper">
    <div class="task-code-block" style="margin-right: 10px; cursor: default;">
      <h4>Code for testing</h4>
      <textarea [ngModel]="quiz.code" readonly style="cursor: default;" disabled></textarea>
    </div>

    <div class="correct-answer-block">
        <h4>Enter testing code</h4>
        <textarea [(ngModel)]="passedQuiz.answer" [disabled]="passedQuiz.isCorrect || (passedQuiz.attempt === quiz.maxAttempts)"
          [class.failed]="!passedQuiz.isCorrect && (passedQuiz.attempt === quiz.maxAttempts)"></textarea>
    </div>
  </div>

  <div class="btn-wrapper">
    <button class="btn-create" (click)="confirm()" [disabled]="passedQuiz.isCorrect || (passedQuiz.attempt === quiz.maxAttempts)">
      Confirm
    </button>
  </div>
</div>
